* {
	margin: 0;
	padding: 0;
}

body {
	/*	height: 100vh;*/
	user-select: none;
}

.header {
	height: 100vh;
	width: auto;

	justify-content: center;
	align-content: center;
}

.video video {
	position: fixed;
	z-index: -2;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
}

#cover {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;

	animation: change-opacity 10s forwards;
	background-color: rgba(0, 0, 0, 1);
}

@keyframes change-opacity {
	0% {
		background-color: rgba(0, 0, 0, 1);
	}

	100% {
		background-color: rgba(0, 0, 0, .6);
	}
}

.intro {
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	color: white;

	position: relative;
	animation: move-down 2s ease forwards;
}

@keyframes move-down {
	0% {
		top: -10%;
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		top: 0%;
	}
}

.intro h1 {
	font-size: 80px;
}

.title-text {
	text-shadow: 0px 4px black;
}

.buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.start-button,
.about-button {
	padding: 10px 20px;
	width: auto;
	min-width: 150px;
	max-width: 200px;
	text-align: center;
	border: none;
	background-color: rgb(190, 46, 10);
	color: white;
	cursor: pointer;
	font-size: 15px;
	border-radius: 5px;
	border: 2px solid rgb(163, 33, 0);
	text-shadow: 2px 2px rgb(163, 33, 0);
}

.start-button:hover,
.about-button:hover {
	background-color: rgb(146, 36, 8);
	border: 2px solid rgb(119, 25, 1);
}

a {
	text-decoration: none;
	color: white;
}